[Desktop Entry]
Encoding=UTF-8
Name=ValorCoin
Comment=ValorCoin P2P Cryptocurrency
Comment[fr]=ValorCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=ValorCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/valorcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/valorcoin;
Categories=Office;
